html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    max-width: 750px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, simsun, sans-serif;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.act {
    position: relative;
    width: 100%;
    max-width: 750px;
    text-align: center;
    background-color: #f5ecc9;
}

.act__bg img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

/* 转盘  */

.act__lottery {
  position: relative;
  display: inline-block;
  margin: 2rem auto 0;
  width: 6.34rem;
  height: 6.54rem;
  text-align: center;
}

.lottery__point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -65%);
  width: 1.68rem;
  height: 2.1rem;
  background: url(../img/lottery/lottery_point.png) top center no-repeat;
  background-size: 100%;
}

/* 奖品 */

.lottery__ct {
    position: relative;
}

/* 活动说明  */

.act__info {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  padding: .2rem .56rem;
  margin-top: 1.24rem;
  background-color: #ffd05b;
  text-align: left;
}

.act__info .title {
  color: #e60012;
  font-size: 0.28rem;
  font-weight: bold;
  line-height: 1.8em;
}

.act__info .list {
    
}

.act__info .item {
  font-size: 0.26rem;
  color: #aa6800;
  line-height: 1.8em;
}