html {
	height: 100%;
}
body {
	margin: 0 auto;
	height: 100%;
	max-width: 750px;
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, simsun, sans-serif;
}

img {
	max-width: 100%;
	vertical-align: middle;
}
.act {
	position: relative;
  width: 100%;
  max-width: 750px;
  text-align: center;
  background-color: #f5ecc9;
}
.act__bg img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
/* 问卷问题 */
.act__question {
  position: relative;
  z-index: 10;
  display: inline-block;
  box-sizing: border-box;
  width: 7rem;
  min-height: 7.44rem;
  margin: 4.2rem auto .5rem;
  padding: 0 .3rem;
  border: 1px solid #e60012;
  border-radius: .16rem;
  background-color: #fff;
  font-size: 0.26rem;
  text-align: left;
}
.question__tt {
  color: #e60012;
  line-height: 4em;
  text-indent: 1em;
}
.question__ct {
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  color: #333;
}
.question__item {
  margin: .3rem 0 .3rem .2rem;
}
input.question__radio {
  background: url(../img/survey/survey_off.png) no-repeat;
  background-size: 100%;
  margin-right: .2rem;
  width: 0.36rem;
  height: 0.36rem;
  vertical-align: middle;
}
input.question__checkbox {
  box-sizing: border-box;
  border: .02rem solid #ccc;
  border-radius: .02rem;
  margin-right: .2rem;
  width: 0.36rem;
  height: 0.36rem;
  vertical-align: middle;

}
input.question__radio:checked {
  background: url(../img/survey/survey_on.png) no-repeat;
  background-size: 100%;
}
input.question__checkbox:checked {
  background: url(../img/survey/survey_checkbox_on.png) no-repeat;
  background-size: 100%;
  border-color: #e91f2f;
}
.question__btn-wrap {
  position: relative;
  margin: .5rem auto;
  text-align: center;
  font-size: 0;
}
.question__btn {
  display: inline-block;
  margin: 0 .1rem;
  border-radius: .07rem;
  width: 2.8rem;
  height: 0.7rem;
  line-height: 0.7rem;
  text-align: center;
  color: #fff;
  font-size: 0.26rem;
  background-color: #f06671;
  cursor: pointer;
  vertical-align: middle;
}
.question__btn--submit {
  background-color: #e60012;
}

/* 弹窗 */
.act__dialog {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: rgba(0, 0, 0, .65);
}
.dialog__ct {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5.68rem;
  height: 5.07rem;
}
.dialog__btn {
  position: absolute;
  left: .85rem;
  right: 0;
  bottom: .42rem;
  z-index: 10;
  width: 3.75rem;
  height: 0.63rem;
  cursor: pointer;
}
